@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";

$font-color1:#969696;
$font-color2:#a9a9a9;
$font-color3:white;
$link-color:#75c372;
$main-color:#0b4e70;
$font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body {
  font-family: $font-family;
  width:100vw;
  height:100vh;
  margin: 0;
  padding:0;
}

.container {
  @include grid-container;
}

$my-default-grid: (
  columns: 12,
  direction: ltr,
  media: "(min-width: 850px)",
);

$column-grid: (
  columns: 3,
  gutter:10vw,
  direction: ltr,
  media: "(min-width: 850px)",
);


.nav {
  @include grid-column(12,$my-default-grid);
  float:left;
  background-color: red;
  height:10vh;
  width:100%;
  margin:0;
  padding:0;
  text-align:center;
    li {
      display:inline;
      list-style:none;
    }

    a {
      display:inline-block;
      padding:15px;
      margin-top: 20px;
      text-decoration:none;
      color:$font-color2;
      font-size: 13px;
    }
    
    a:hover {
      background-color: black;
    }
};
