@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";
$font-color1: #212733;
$font-color2: #a9a9a9;
$font-color3: white;
$link-color: #75c372;
$main-color: #0b4e70;
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// bourbon neat media breakpoints

$my-default-grid: (
  columns: 12,
  direction: ltr,
  media: "(max-width: 1100px)",
);

$desktop: (
  media: "(min-width: 1400px)",
);

$column-grid: (
  columns: 3,
  gutter:10vw,
  direction: ltr,
  media: "(max-width: 850px)",
);

$medium-grid: (
  columns: 12,
  gutter: 20px,
  media: "screen and (min-width: 320px) and (max-width: 850px)",
);

$phone-landscape: (
  media: "screen and (min-width: 640px) and (max-width: 750px)",
);

$phone-small: (
  media: "(max-width: 500px)",
);

$samsung-landscape: (
  media:"screen and (min-width: 350px) and  (max-width: 670px) and (orientation: landscape)"
);

$landscape-medium: (
  media:"screen and (min-width: 670px) and (max-width: 700px) and (orientation: landscape)"
);

body {
  font-family: $font-family;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y:hidden;

  @include grid-media($medium-grid) {
  overflow-y:auto;
  }

};

.container {
  @include grid-container;
  width: 100vw;
  height: 100vh;

};

.nav {
  @include grid-column(12,$my-default-grid);
  float: left;
  height: 10vh;
  width: 100vw;
  margin: 0;
  text-align: center;

  #toplinks {
    padding-left: 360px;
    display: flex;
    justify-content:center;
  }

  li {
    padding-right: 15px;
    display: inline;
    list-style: none;
  }

  a {
    display: inline-block;
    margin-top: -30px;
    padding: 20px;
    text-decoration: none;
    color: $font-color1;
    font-size: 13px;
  }

  a:hover {
    background-color: black;
    color:$font-color3;
  }

  #burger {
    display: none;
  }
  @include grid-media($medium-grid) {

    #toplinks {
      display: none;
    }

    .main-container {
      display: none;
    }

    #burger {
      z-index: 3;
      display: block;
      position: absolute;
      right: 0;
      padding: 15px;
      cursor: pointer;
    }
    // fa-bars is for burger color
    .fa-bars {
      color: $font-color2;
    }
  }
};

.main {

  margin-top: 30px;
  height: 60vh;
  width: 100vh;

  .logo {
    display:block;
    height:105vh;
    width:50%;
    z-index: -4;
    transform: rotate(40deg);
    position: absolute;
    right: -2%;
    top:7vh;
  }

  h1 {
    font-size: 2.6em;
    color: $font-color1;
    font-weight: 100;
    width: 47vw;
    line-height: 30px;
  }

  h4 {
    font-size: 17px;
    color: $font-color2;
    width: 550px;
  }

  h1,
  h4 {
    padding: 8px;
    margin: 0;
  }
  padding-left: 5vw;

  // center circle swipe links

  .dots {
    position: absolute;
    display: flex;
    margin-left: 40vw;
  }

  .dots > div {
    flex: 1;
  }

  .unselected {
    background: #cecece;
  }

  .selected {
    background: $main-color;
  }

  .circle {
    border-radius: 50%;
    height: 0.8em;
    width: 0.8em;
    margin-top: 80px;
    margin-left: 4px;
  }

  .circle:hover {
    cursor: pointer;
  }

  // responsive bourbon queries
  @include grid-media($desktop) {
    h1 {
      font-size: 3.2em;
      line-height: 42px;
    }

    h1,h4 {
      padding-left: 15vw;
      position: relative;
      top:70px;
    }

    h4 {
      padding-top:15px;
    }

    .circle {
      margin-top: 120px;
    }


  }

  @include grid-media($my-default-grid) {
    h1 {
      font-size: 2.2em;
    }

    h4 {
      width: 350px;
    }
    height: 60vh;
  }
  @include grid-media($medium-grid) {
    h1 {
      font-size: 1.8em;
    }

    h4 {
      font-size: 15px !important;
      width: 200px;
    }

    .logo {
      bottom: -15vh;
    }

    height: 65vh;
    padding-left: 5vw;

  }
  @include grid-media($phone-landscape) {
    h1 {
      font-size: 1.5em;
    }

    h4 {
      font-size: 15px !important;
    }
    height: 80vh;
    padding-left: 5vw;

    .logo {
      width:350px;
      bottom: -30vh;
      right:-10%;
    }
  }
  //samsung s6 portrait
  @include grid-media($phone-small) {
    height: 80vh;
    padding-left: 10vw;
    text-align: center;

    .dots {
      margin-left:1vw;
    }

    .logo {
      width:300px;
      top:180px;
      // bottom: 100vh;
      right:-10%;
    }

    h1 {
      font-size: 2.2em;
      color: $font-color1;
      font-weight: 100;
      width: 70vw;
      line-height: 45px;
    }

    h4 {
      font-size: 1.3em !important;
      color: $font-color2;
      width: 70vw;
      // width: px;
    }

    h1,h4 {
      padding-left: 40px;
    }
  }

  @include grid-media($samsung-landscape) {
    height: 90vh;

    .logo {
      width:300px;
      bottom: -55vh;
      right:-10%;
    }
  }
}

// blue div section

.secondary {
  // width: 100%;
  width: 100vw;
  height: 230px;
  background-color: $main-color;
  // responsive bourbon queries
  @include grid-media($medium-grid) {
    height: 120vh;

    .icons {
      padding-top: 0px;
    }
  }

  @include grid-media($phone-landscape) {
    height: 180vh;

    .icons {
      padding-top: 60px;
    }
  }

  @include grid-media($samsung-landscape) {
    height: 210vh;

    .icons {
      padding-bottom: 60px;
    }
  }

  @include grid-media($phone-small) {
    height: 130vh;

    // .icons :first-child {
    //   padding-top:25px;
    // }

    .icons {
      padding-top:55px;
    }

    a {
       border-style: solid;
       border-width : 1px 1px 1px 1px;
       text-decoration : none;
       padding : 15px;
       border-radius: 25px;
    }

    p {
      font-size:20px;
      padding-bottom: 25px;
    }
  }
}

// blue diagonal div
.skew {
  width: 100%;
  height: 25vh;
  background-color: $main-color;
  transform-origin: top right;
  transform: skewY(+4deg);
  position: absolute;
  z-index: -3 !important;
}

.icons {
  display: inline;
  text-align: center;
  @include grid-column(1,$column-grid);
  height: 30vh;

  img {
    width: 7vh;
    height: 5vh;
    margin-top: 15px;
  }

  p {
    color: $font-color3;
  }

  a {
    color: $link-color;
  }
  @include grid-media($column-grid) {
     @include grid-column(3,$column-grid);
  }
}

.footer {
  height: 2vh;
  width: 100%;
  background-color: black;
  padding: 0px;
}
// nav draw
.show {
  background-color: rgba(11, 78, 112, 1);

  z-index: 1;
  // height: 450px;
  height: 90vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin-top: 5px;
  // transition:all 2s ease;
  // transform: translateX(0%);
  // left:-100px;
  // transition: 1s;


  li {
    display: block;
    list-style: none;
    padding-top: 20px;
  }

  a {
    // padding: 55px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
    transition: ease-in-out;
    color:white;
  }



  a:hover {
    background-color: transparentize(white, 1) !important;
    color: $link-color;
  }
  @include grid-media($phone-landscape) {
    height: 550px;

    a {
      font-size: 28px;
      padding: 5px;
    }
  }

  @include grid-media($phone-small) {
    a {
      font-size: 30px;
      padding:20px;
    }


  }

  @include grid-media($samsung-landscape) {
    a {
      font-size: 30px;
    }
  }

  @include grid-media($landscape-medium) {
    a {
      font-size: 20px;
    }
  }
}

// .hidden {
//   display:none;
// }
