@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";

$font-color1:#969696;
$font-color2:#a9a9a9;
$font-color3:white;
$link-color:#75c372;
$main-color:#0b4e70;
$font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

body {
  font-family: $font-family;
  width:100vw;
  height:100vh;
  margin: 0;
  padding:0;
}

.container {
  @include grid-container;
  width:100vw;
  height:100vh;
}

$my-default-grid: (
  columns: 12,
  direction: ltr,
  media: "(max-width: 850px)",
);

$column-grid: (
  columns: 3,
  gutter:10vw,
  direction: ltr,
  media: "(max-width: 850px)",
);

// $nav-grid: (
//   media: "(max-width:850px )",
// );


.nav {
  @include grid-column(12,$my-default-grid);
  float:left;
  height:10vh;
  width:100vw;
  margin:0;
  padding-left:150px;;
  text-align:center;
    li {
      display:inline;
      list-style:none;
    }

    a {
      display:inline-block;
      padding:15px;
      margin-top: 20px;
      text-decoration:none;
      color:$font-color2;
      font-size: 13px;
    }
    
    a:hover {
      background-color: black;
    }
    
    .burger {
       display: none;
    }
     
    @include grid-media($my-default-grid){
      
    a, li {
    display: none;
    }

    .burger {
    display: block;
    position: absolute;
    right:0;
    padding:15px;
    cursor: pointer;
    }
    
    // fa-bars is for burger color
    .fa-bars {
    color:$font-color2;
    }
    
  }
};



.main {
  height:60vh;
  width:100vh;
     h1 {
       font-size: 2.7em;
       color:$font-color1;
       font-weight: 100;
       width:60vw;
     }
     h4 {
       font-size: 20px;
       color:$font-color2;
     }
     h1, h4 {
       padding:8px;
       margin:0px;
     }
     padding-left:5vw;
     
    .dots {
      position: absolute;
      display: flex;
      margin-left: 40vw;
    }

    .dots > div {
      flex: 1;
    }

    .unselected {
      background: #cecece;
    }

    .selected {
      background: $main-color;
    }

    .circle {
      border-radius: 50%;
      height: 0.8em;
      width: 0.8em;
      margin-top: 30px;
      margin-left: 4px;
    }

    .circle:hover {
      cursor: pointer;
    }
}









.secondary {
  width:100%;
  height:230px;
  background-color:$main-color;
  
  @include grid-media($my-default-grid){
  height:90vh;
  }
}

.skew {
  // width:100%;
  height:22vh;
  background-color:$main-color;
  transform-origin: top right ;
  transform: skewY(+4deg);
  position: absolute;
  z-index: -3 !important;
}



.icons {

  display: inline;
  text-align: center;
  @include grid-column(1,$column-grid);
  height:30vh;

 img {
   width:7vh;
   height:5vh;
   margin-top:15px;
 }

 p {
   color:$font-color3;
 }

 a {
   color:$link-color;
 }
 
 @include grid-media($column-grid){
   @include grid-column(3,$column-grid);
 }

}














.footer {
  height:2vh;
  width:100%;
  background-color:black;
}

