body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden; }
  @media screen and (min-width: 320px) and (max-width: 850px) {
    body {
      overflow-y: auto; } }

.container {
  width: 100vw;
  height: 100vh; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.nav {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  float: left;
  height: 10vh;
  width: 100vw;
  margin: 0;
  text-align: center; }
  .nav #toplinks {
    padding-left: 360px;
    display: flex;
    justify-content: center; }
  .nav li {
    padding-right: 15px;
    display: inline;
    list-style: none; }
  .nav a {
    display: inline-block;
    margin-top: -30px;
    padding: 20px;
    text-decoration: none;
    color: #212733;
    font-size: 13px; }
  .nav a:hover {
    background-color: black;
    color: white; }
  .nav #burger {
    display: none; }
  @media screen and (min-width: 320px) and (max-width: 850px) {
    .nav #toplinks {
      display: none; }
    .nav .main-container {
      display: none; }
    .nav #burger {
      z-index: 3;
      display: block;
      position: absolute;
      right: 0;
      padding: 15px;
      cursor: pointer; }
    .nav .fa-bars, .nav .fa-close {
      color: #a9a9a9; } }

.main {
  margin-top: 30px;
  height: 60vh;
  width: 100vh;
  padding-left: 5vw; }
  .main .logo {
    display: block;
    height: 105vh;
    width: 50%;
    z-index: -4;
    transform: rotate(40deg);
    position: absolute;
    right: -2%;
    top: 7vh; }
  .main h1 {
    font-size: 2.6em;
    color: #212733;
    font-weight: 100;
    width: 47vw;
    line-height: 30px; }
  .main h4 {
    font-size: 17px;
    color: #a9a9a9;
    width: 550px; }
  .main h1,
  .main h4 {
    padding: 8px;
    margin: 0; }
  .main .dots {
    position: absolute;
    display: flex;
    margin-left: 40vw; }
  .main .dots > div {
    flex: 1; }
  .main .unselected {
    background: #cecece; }
  .main .selected {
    background: #0b4e70; }
  .main .circle {
    border-radius: 50%;
    height: 0.8em;
    width: 0.8em;
    margin-top: 80px;
    margin-left: 4px; }
  .main .circle:hover {
    cursor: pointer; }
  @media (min-width: 1400px) {
    .main h1 {
      font-size: 3.2em;
      line-height: 42px; }
    .main h1, .main h4 {
      padding-left: 15vw;
      position: relative;
      top: 70px; }
    .main h4 {
      padding-top: 15px; }
    .main .circle {
      margin-top: 120px; } }
  @media (max-width: 1100px) {
    .main {
      height: 60vh; }
      .main h1 {
        font-size: 2.2em; }
      .main h4 {
        width: 350px; } }
  @media screen and (min-width: 320px) and (max-width: 850px) {
    .main {
      height: 60vh;
      padding-left: 5vw; }
      .main h1 {
        font-size: 1.8em; }
      .main h4 {
        font-size: 15px !important;
        width: 200px; }
      .main .logo {
        bottom: -15vh; } }
  @media (max-width: 500px) {
    .main {
      height: 60vh;
      padding-left: 10vw;
      text-align: center; }
      .main .dots {
        margin-left: 1vw; }
      .main .logo {
        width: 270px;
        top: 10vh;
        right: -10%; }
      .main h1 {
        font-size: 2.2em;
        color: #212733;
        font-weight: 100;
        width: 70vw;
        line-height: 45px; }
      .main h4 {
        font-size: 1.3em !important;
        color: #a9a9a9;
        width: 70vw; }
      .main h1, .main h4 {
        padding-left: 20px; } }
  @media screen and (min-width: 350px) and (max-width: 670px) and (orientation: landscape) {
    .main {
      height: 90vh; }
      .main .logo {
        width: 300px;
        bottom: -55vh;
        right: -10%; } }

.secondary {
  width: 100vw;
  height: 230px;
  background-color: #0b4e70; }
  @media screen and (min-width: 320px) and (max-width: 850px) {
    .secondary {
      height: 120vh; }
      .secondary .icons {
        padding-top: 60px; } }
  @media screen and (min-width: 640px) and (max-width: 750px) {
    .secondary {
      height: 180vh; }
      .secondary .icons {
        padding-top: 60px; } }
  @media screen and (min-width: 350px) and (max-width: 670px) and (orientation: landscape) {
    .secondary {
      height: 210vh; }
      .secondary .icons {
        padding-bottom: 60px; } }
  @media (max-width: 500px) {
    .secondary {
      height: 130vh; }
      .secondary .icons {
        padding-top: 55px; }
      .secondary a {
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        text-decoration: none;
        padding: 15px;
        border-radius: 25px; }
      .secondary p {
        font-size: 20px;
        padding-bottom: 25px; } }

.skew {
  width: 100%;
  height: 25vh;
  background-color: #0b4e70;
  transform-origin: top right;
  transform: skewY(4deg);
  position: absolute;
  z-index: -3 !important; }

.icons {
  display: inline;
  text-align: center;
  width: calc(33.3333333333% - 13.3333333333vw);
  float: left;
  margin-left: 10vw;
  height: 30vh; }
  .icons img {
    width: 7vh;
    height: 5vh;
    margin-top: 15px; }
  .icons p {
    color: white; }
  .icons a {
    color: #75c372; }
  @media (max-width: 850px) {
    .icons {
      width: calc(100% - 20vw);
      float: left;
      margin-left: 10vw; } }

.footer {
  height: 2vh;
  width: 100%;
  background-color: black;
  padding: 0px; }

.show {
  display: block;
  margin-right: 100%;
  background-color: #0b4e70;
  z-index: 1;
  height: 67vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin-top: 5px; }
  .show li {
    display: block;
    list-style: none;
    padding-top: 20px; }
  .show a {
    padding: 15px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #75c372;
    color: white; }
  .show li:first-child a {
    padding-top: 30px; }
  .show a:hover {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #75c372; }
  @media (max-width: 500px) {
    .show a {
      font-size: 30px;
      padding: 5px;
      margin-left: 30px; }
    .show li:first-child a {
      padding-top: 30px; } }
  @media screen and (min-width: 350px) and (max-width: 670px) and (orientation: landscape) {
    .show a {
      font-size: 30px; } }
  @media screen and (min-width: 670px) and (max-width: 700px) and (orientation: landscape) {
    .show a {
      font-size: 20px; } }

.fa-close-thin:before {
  content: '\00d7';
  color: #a9a9a9; }

/*# sourceMappingURL=output.css.map */
